body {
  padding-top: 6rem;
}

#employee-table {
  border: 0px;
  border-collapse: collapse;

  width: 20%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#employee-table td, #employee-table tr {
  padding: 8px;
  width: 100%;
}

#position, #supervisorId, #teamIds, #salary {
  width: 100%;
}


.button-wrapper {
    text-align: center;
}

.employeesubmit {
    position: absolute;
    top: 50%;
}