body {
  padding-top: 6rem;
}

#team-table {
  border: 0px;
  border-collapse: collapse;

  width: 30%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#team-table td, #team-table tr {
  padding: 8px;
  width: 100%;
}

#teamName, #pmId, #poId, #scrummasterId {
  width: 100%;
}


.button-wrapper {
    text-align: center;
}

.teamsubmit {
    position: absolute;
    top: 50%;
}