body {
  padding-top: 7rem;
}


/* Table */

#teamsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#teamsTable td, #teamsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#teamsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#teamsTable tr:nth-child(even){background-color: #f2f2f2;}
#teamsTable tr:hover {background-color: #ddd;}


/* Pagination */

.center {
  text-align: center;
  margin-bottom: 75px;
}

.pagination {
  display: inline-block;
}

.center ul li {
  display: inline;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a {
  color: black;
}

.pagination li.active {
  background-color: #4CAF50;
  color: white;
}

.pagination li:hover:not(.active):not(.disabled) {background-color: #ddd;}