<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager: manage employee</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/add-or-edit-employee.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/add-or-edit-employee.js"></script>
</head>

<body>
<div th:replace="fragment/header :: header"></div>

<table id="employee-table">
    <tr>
        <td>
            <label><b>First name</b></label><br/>
            <input id="firstName" type="text"
                   th:value="${employee != null} ? ${employee.firstName} : ''"
                   th:disabled="${employee != null}? true : false"/>
        </td>
        <td>
            <label><b>Last name</b></label><br/>
            <input id="lastName" type="text"
                   th:value="${employee != null} ? ${employee.lastName} : ''"
                   th:disabled="${employee != null}? true : false"/>
        </td>
    </tr>
    <tr>
        <td>
            <label><b>Position</b></label><br/>
            <select id="position">
                <option th:each="position : ${T(com.krzysztoffaj.companymanager.infrastructure.EmployeePosition).values()}"
                        th:value="${position}"
                        th:text="${position}"
                        th:selected="${employee != null && employee.position == position}">
                </option>
            </select>
        </td>
        <td>
            <label><b>Salary</b></label><br/>
            <input id="salary" type="number" step="0.01"
                   th:value="${employee != null} ? ${employee.salary} : ''"/>
        </td>
    </tr>
    <tr>
        <td>
            <label><b>Supervisor</b></label><br/>
            <select id="supervisorId">
                <option selected value=null>-- Unassigned --</option>
                <option th:each="existingEmployee : ${allEmployees}"
                        th:if="${existingEmployee.position == T(com.krzysztoffaj.companymanager.infrastructure.EmployeePosition).PM
                                    && employee != null && employee.id != existingEmployee.id}"
                        th:value="${existingEmployee.id}"
                        th:text="${existingEmployee.firstName} + ' ' + ${existingEmployee.lastName}"
                        th:selected="${employee != null && employee.supervisorId == existingEmployee.id}">
                </option>
            </select>
        </td>
        <td>
            <label><b>Teams</b></label><br/>
            <select multiple id="teamIds">
                <option th:each="team : ${allTeams}"
                        th:value="${team.id}"
                        th:text="${team.name}"
                        th:selected="${employee != null && employee.teams.contains(team)}">
                </option>
            </select>
        </td>
    </tr>
</table>
<div class="button-wrapper">
    <input id="employeeSubmit" type="submit" value="Submit"
           th:attrappend="onclick=${employee != null} ? |submitEmployee('${employee.id}')| : |submitEmployee('null')|"/>
</div>
</body>
</html>