<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager: employees</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/employees.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/employees.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<body>
<div th:replace="fragment/header :: header"></div>
<!---->
<form class="search-elements" id="search-form">
    <input type="text" id="query"
           placeholder="Enter first name, last name or position..."/>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<table id="employeesTable" class="display">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Supervisor</th>
        <th>Teams</th>
        <!--<th>Modify</th>-->
        <!--<th>Competence</th>-->
    </tr>
    <!--<tr th:each="employee : ${allEmployees}">-->
    <!--<td th:text="${employee.id}"></td>-->
    <!--<td th:text="${employee.firstName}"></td>-->
    <!--<td th:text="${employee.lastName}"></td>-->
    <!--<td th:text="${employee.position}"></td>-->
    <!--<td th:text="${employee.salary}"></td>-->
    <!--<td>-->
    <!--<th:block th:each="existingEmployee : ${allEmployees}">-->
    <!--<span th:text="${existingEmployee.id == employee.supervisorId ? existingEmployee.firstName + ' ' + existingEmployee.lastName : ''}"></span>-->
    <!--</th:block>-->
    <!--</td>-->
    <!--<td>-->
    <!--<th:block th:each="team, iterStat : ${employee.teams}">-->
    <!--<span th:text="!${iterStat.last} ? ${team.name} + ', ': ${team.name}"></span>-->
    <!--</th:block>-->
    <!--</td>-->
    <!--<td>-->
    <!--<form th:action="@{/manageemployee/edit/} + ${{employee.id}}" th:method="GET">-->
    <!--<input id="editemployee" type="submit" value="Edit"/>-->
    <!--</form>-->
    <!--</td>-->
    <!--<td th:text="${employee.competence}"></td>-->
    <!--</tr>-->
</table>
</body>
</html>