<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager</title>

    <link rel="stylesheet" th:href="@{/css/search.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="partials/header :: header"></div>

<!--<h2>Search for an employee</h2>-->
<!--<form action="#" th:action="@{/search}" th:object="${employee}" method="post">-->
<!--<div class="search-inputs">-->
<!--<p>First name, last name or position: <input type="text" th:field="*{firstName}"/></p>-->
<!--<p><input type="submit" value="Search"/></p>-->
<!--</div>-->
<!--</form>-->

<input type="text" id="input" onkeyup="myFunction()"
       placeholder="Search for employees by first name, last name or position...">
<p>
    Enter you name @Html.TextBox("Name")
    <input type="submit" id="SubmitName" value="Submit"/>
</p>
<script type="text/jscript">
    $('#SubmitName').click(function () {
        var url = "/Home/WelcomeMsg";
        var name = $('#Name').val();
        $.get(url, { input: name }, function (data) {
            $("#rData").html(data);
        });
    })
</script>


<table id="search-results">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Supervisor Id</th>
        <th>Teams</th>
        <!--<th>Competence</th>-->
    </tr>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.supervisorId}"></td>
        <td>
            <th:block th:each="team, iterStat : ${employee.teams}">
                <span th:text="!${iterStat.last} ? ${team.name} + ', ': ${team.name}"></span>
            </th:block>
        </td>

        <!--<td th:text="${employee.competence}"></td>-->
    </tr>
</table>
</body>
</html>