<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager</title>

    <link rel="stylesheet" th:href="@{/css/search.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/search.js"></script>
</head>

<body>
<div th:replace="fragment/header :: header"></div>

<!--<h2>Search for an employee</h2>-->
<!--<form action="#" th:action="@{/search}" th:object="${employee}" method="post">-->
<!--<div class="search-inputs">-->
<!--<p>First name, last name or position: <input type="text" th:field="*{firstName}"/></p>-->
<!--<p><input type="submit" value="Search"/></p>-->
<!--</div>-->
<!--</form>-->


<!--<form class="example" action="action_page.php">-->
    <!--<input type="text" id="input" placeholder="Search for employees by first name, last name or position...">-->
    <!--<input type="submit" value="Search">-->
<!--</form>-->


<!--<form th:object="${employee}" method="post">-->
    <!--<div>-->
        <!--<input type="text" name="lectureSearch" th:value="${searchSubmit}">-->
        <!--<input type="submit" value="Search">-->
    <!--</div>-->
<!--</form>-->
<!--<p>-->
<!--Enter you name @Html.TextBox("Name")-->
<!--<input type="submit" id="submit" value="Submit"/>-->
<!--</p>-->

<!--<div class="container" style="min-height: 500px">-->

    <!--<div class="starter-template">-->
        <!--<div id="feedback"></div>-->
        <form class="form-horizontal" id="search-form">
            <!--<div class="form-group form-group-lg">-->
                <!--<label class="col-sm-2 control-label">Username</label>-->
                <!--<div class="col-sm-10">-->
                    <input type="text" class="form-control" id="input"/>
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                <!--</div>-->
            <!--</div>-->
        </form>
    <!--</div>-->
<!--</div>-->

<table id="search-results">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Supervisor Id</th>
        <th>Teams</th>
        <!--<th>Competence</th>-->
    </tr>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.supervisorId}"></td>
        <td>
            <th:block th:each="team, iterStat : ${employee.teams}">
                <span th:text="!${iterStat.last} ? ${team.name} + ', ': ${team.name}"></span>
            </th:block>
        </td>

        <!--<td th:text="${employee.competence}"></td>-->
    </tr>
</table>
</body>
</html>