<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/search.css}"/>
</head>

<body>
<main role="main" class="container">

    <div class="header">
        <h1>Company Manager</h1>
    </div>

</main>

<h2>Search for an employee</h2>
<form action="#" th:action="@{/search}" th:object="${employee}" method="post">
    <div class="search-inputs">
        <p>First name, last name or position: <input type="text" th:field="*{firstName}"/></p>
        <!--<p>Last name: <input type="text" th:field="*{lastName}"/></p>-->
        <!--<p>Position: <input type="text" th:field="*{position}"/></p>-->
        <p><input type="submit" value="Search"/></p>
    </div>
</form>


<table id="search-results">
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Supervisor Id</th>
        <!--<th>Teams</th>-->
        <!--<th>Competence</th>-->
    </tr>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.supervisorId}"></td>
        <!--<td th:text="${employee.teams}"></td>-->
        <!--<td th:text="${employee.competence}"></td>-->
    </tr>
</table>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>

</html>