<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager: search</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/search.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/search.js"></script>
</head>

<body>
<div th:replace="fragment/header :: header"></div>

<table id="search-results">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>PM</th>
        <th>PO</th>
        <th>Scrummaster</th>
    </tr>
    <tr th:each="team : ${allTeams}">
        <td th:text="${team.id}"></td>
        <td th:text="${team.name}"></td>
        <td>
            <th:block th:each="employee : ${allEmployees}">
                <span th:text="${employee.id == team.pmId ? employee.firstName + ' ' + employee.lastName : ''}"></span>
            </th:block>
        </td>
        <td>
            <th:block th:each="employee : ${allEmployees}">
                <span th:text="${employee.id == team.poId ? employee.firstName + ' ' + employee.lastName : ''}"></span>
            </th:block>
        </td>
        <td>
            <th:block th:each="employee : ${allEmployees}">
                <span th:text="${employee.id == team.scrummasterId ? employee.firstName + ' ' + employee.lastName : ''}"></span>
            </th:block>
        </td>
        <!--<option th:each="employee : ${allEmployees}"-->
                <!--th:if="${employee.position == T(com.krzysztoffaj.companymanager.infrastructure.EmployeePosition).PM}"-->
                <!--th:value="${employee.id}"-->
                <!--th:text="${employee.firstName} + ' ' + ${employee.lastName}">-->
        <!--<td>-->
            <!--<form th:action="@{/editemployee/} + ${{team.id}}" th:method="GET">-->
                <!--<input id="editemployee" type="submit" value="Edit"/>-->
            <!--</form>-->
        <!--</td>-->
    </tr>
</table>
</body>
</html>