<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Company Manager: teams</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/css/teams.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.4/pagination.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="/js/teams.js"></script>
</head>

<body>
<div th:replace="fragment/header :: header"></div>

<table id="teamsTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>PM</th>
        <th>PO</th>
        <th>Scrummaster</th>
        <th>Members</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="center">
    <div class="pagination"></div>
</div>
</body>
</html>